@import url(sanitize.css);


/* ----------------------------------- body ----------------------------------- */
body {
    font-family: serif;
}


/* ----------------------------------- header ----------------------------------- */
header h1 {
    margin: 5px 0 0 30px;
}

#globalNavi {
    overflow: hidden;
    background-color: #393939;
}

#globalNavi ul {
    list-style: none;
    float: left;
}

#globalNavi ul:last-child {
    float: right;
    text-align: right;
}

#globalNavi ul li {
    padding: 5px 30px;
}

#globalNavi ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition-property: color;
    /* transition-duration: 0.2s; */
    /* transition-timing-function: linear; */
}

#globalNavi ul li a:hover {
    color: #d7d7d798;
    font-weight: bolder;
}

#globalNavi ul li.current a {
    color: #d7d7d771;
}


/* ----------------------------------- wrapper ----------------------------------- */
#wrapper {
    clear: both;
    padding: 20px 50px;
}

#wrapper h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

#wrapper h1 {
    border-bottom: 1px solid #000;
}


/* ----------------------------------- home ----------------------------------- */
#homeMain h2 {
    margin-top: 10px;
}

#news h3 {
    border-top: 1px solid black;
    padding-top: 20px;
}

#news dl {
    border: 2px solid black;
    height: 250px;
    margin: 5px 0 30px;
    overflow-y: scroll;
    padding: 10px;
    /* white-space: nowrap; */
}

#news dd {
    margin: 5px 0 10px 0;
    padding: 0 0 10px 20px;
    border-bottom: 1px solid black;
}

#relation h3 {
    border-bottom: 1px solid black;
}

#relation ul {
    padding-left: 20px;
}

#relation li {
    margin-bottom: 20px;
}


/* ----------------------------------- contact ----------------------------------- */
#contact p {
    margin: 100px 0;
}

#contact table {
    margin: 20px 0;
    border-collapse: collapse;
}

#contact th {
    text-align: left;
    padding: 15px;
}

#contact td {
    padding-left: 20px;
}

#contact button {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 150px;
    padding: 0 30px;
}



/* -----------------------------------  ----------------------------------- */
/* -----------------------------------  ----------------------------------- */
/* -----------------------------------  ----------------------------------- */



/* ----------------------------------- new_reg ----------------------------------- */
#newReg p {
    margin: 100px 0;
}

#newReg table {
    margin: 20px 0;
    border-collapse: collapse;
}

#newReg th {
    text-align: left;
    padding: 15px;
}

#newReg td {
    padding-left: 20px;
}

#newReg button {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 120px;
    padding: 0 30px;
}

#newRegCheck .agree {
    margin: 0 0 40px 20px;
}

#newRegCheck button {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 0 30px;
}

#newRegCheck button:last-child {
    margin-left: 70px;
}


/* ----------------------------------- account ----------------------------------- */
#account p {
    margin: 100px 0;
}

#account  table {
    margin: 20px 0;
    border-collapse: collapse;
}

#account  th {
    text-align: left;
    padding: 15px;
}

#account  td {
    padding-left: 20px;
}

#account  button {
    font-size: 20px;
    margin: 30px 0 20px 80px;
    padding: 0 30px;
}

#login p {
    margin: 20px 20px;
}

#login a {
    display: block;
    margin: 50px 0 50px 70px;
}

#logoutCheck button {
    font-size: 20px;
    margin: 30px 0 50px 70px;
    padding: 0 30px; 
}

#profileChange button {
    font-size: 20px;
    margin: 30px 0 50px 70px;
    padding: 0 30px; 
}


/* ----------------------------------- footer ----------------------------------- */
footer {
    clear: both;
    overflow: hidden;
    background-color: #393939;
}

#footerNavi ul {
    padding: 0;
    list-style: none;
    float: left;
}

#footerNavi ul li {
    padding: 5px 30px;
}

#footerNavi ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition-property: color;
}

#footerNavi ul li a:hover {
    color: #d7d7d798;
    font-weight: bolder;
}

footer small {
    float: right;
    color: #fff;
    padding: 30px;
    text-align: right;
}

footer small a {
    color: #fff;
    padding: 5px;
    transition-property: color;
}

footer small a:hover {
    color: #d7d7d798;
    font-weight: bolder;
}
